.more-info{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(rgba(232, 223, 223, 0)rgba(232, 223, 223, 0));
    background-size: cover;
    background-position: center;
}